<!-- <form [formGroup]="signUpForm">
    <input type="text" formControlName="name" name="firstname" placeholder="First Name">
    <input type="text" name="lastname" formControlName="lastName" placeholder="Last Name">
    <input type="text" name="email" formControlName="email" placeholder="Email">
    <input type="password" name="password" formControlName="password" placeholder="Password">
    <input type="password" name="confirm_pass" formControlName="confirmPassword" placeholder="Confirm Password">
    <button type="button" (click)="register()">Submit</button>
</form> -->

<!-- <div class="wrapper" style="background-image: url('../../../assets/images/1.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="../../../assets/images/2.jpg" alt="">
        </div>
        <form [formGroup]="signUpForm">
            <h3>Registration Form</h3>
            <div class="form-wrapper">
                <input type="text" formControlName="name" placeholder="Full Name" class="form-control"
                [class.invalid]="signUpForm.controls.name.invalid && (submitAttempt || signUpForm.controls.name.touched || signUpForm.controls.name.dirty)">
            </div>

            <div class="error-message">
                <p *ngIf="!signUpForm.controls.name.valid && (submitAttempt || signUpForm.controls.name.touched || signUpForm.controls.name.dirty)">
                    First Name is Required
                </p>
            </div>

            <div class="form-wrapper">
                <input type="text" formControlName="email" placeholder="Email Address" class="form-control"
                [class.invalid]="signUpForm.controls.email.invalid && (submitAttempt || signUpForm.controls.email.touched || signUpForm.controls.email.dirty)">
            </div>
            <div class="error-message">
                <p *ngIf="signUpForm.controls.email.invalid && (submitAttempt || signUpForm.controls.email.dirty || signUpForm.controls.email.touched)">
                    Email is required or invalid
                </p>
            </div>

            <div class="form-wrapper">
                <select name="" formControlName="gender" id="" class="form-control"
                [class.invalid]="signUpForm.controls.gender.invalid && (submitAttempt || signUpForm.controls.gender.touched || signUpForm.controls.gender.dirty)">
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="error-message">
                <p *ngIf="signUpForm.controls.gender.invalid && (submitAttempt || signUpForm.controls.gender.touched || signUpForm.controls.gender.dirty)">
                    Gender is required
                </p>
            </div>

            <div class="form-wrapper">
                <input type="password" formControlName="password" placeholder="Password" class="form-control"
                [class.invalid]="signUpForm.controls.password.invalid && (submitAttempt || signUpForm.controls.password.touched || signUpForm.controls.password.dirty)">
            </div>

            <div class="error-message">
                <p *ngIf="signUpForm.controls.password.invalid && (submitAttempt || signUpForm.controls.password.touched || signUpForm.controls.password.dirty)">
                    Password is required
                </p>
            </div>

            <div class="form-wrapper">
                <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-control"
                [class.invalid]="signUpForm.controls.confirmPassword.invalid && (submitAttempt || signUpForm.controls.confirmPassword.dirty || signUpForm.controls.confirmPassword.touched)">
            </div>

            <div class="error-message">

                <p *ngIf="signUpForm.controls.password.value != signUpForm.controls.confirmPassword.value">
                    Password and Confirm Password Fields Don't Match
                </p>
                <p *ngIf="signUpForm.controls.confirmPassword.invalid && (submitAttempt || signUpForm.controls.confirmPassword.touched || signUpForm.controls.confirmPassword.dirty)">
                    Confirm Password is required
                </p>
            </div>

            <button (click)="register()" >Register</button>
        </form>
    </div>
</div> -->

<div [formGroup]="signUpForm" class="move-down">

    <mat-form-field appearance="fill">
        <mat-label>Full Name</mat-label>
        <input matInput placeholder="John Doe" formControlName="name" required>
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="signUpForm.get('name').invalid">{{getErrorMessage('name')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-icon matPrefix>mail</mat-icon>
        <mat-error *ngIf="signUpForm.get('email').invalid">{{getErrorMessage('email')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender" required>
            <mat-option value="female">Female</mat-option>
            <mat-option value="male">Male</mat-option>
        </mat-select>
        <mat-icon matPrefix>group</mat-icon>
        <mat-error *ngIf="signUpForm.get('gender').invalid">{{getErrorMessage('gender')}}</mat-error>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        <mat-error *ngIf="signUpForm.get('password').invalid">{{getErrorMessage('password')}}</mat-error>
    </mat-form-field> -->
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <!-- <button></button> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="signUpForm.get('confirmPassword').invalid">{{getErrorMessage('confirmPassword')}}</mat-error>
        <mat-error *ngIf="signUpForm.get('confirmPassword').value !== signUpForm.get('password').value">{{passwordMatch()}}</mat-error>
    </mat-form-field>
</div>