.table{
    overflow: auto;
}

fa-icon{
    font-size: 30px;
}

.mat-cell, .mat-header{
    text-align: center;
    justify-content: center;
}

.mat-header{
    font-weight: bold;
    color: black;
}

@media (max-width: 1000px){
    .table{
        display: none;
    }
}


@media (min-width: 1000px){
    .mat-list{
        display: none;
    }
}