<!-- <form #updateForm="ngForm"> -->
    <!-- <label for="">Title/Caption</label>
    <input type="text" [(ngModel)]="post.title" placeholder="Input title/caption here...">

    <label for="">Body</label>
    <input type="text" [(ngModel)]="post.body" placeholder="Input body here...">

    <button type="button" (click)="update()">Update</button> -->

    <!-- <input type="file" formControlName="file" (change)="fileUpload($event)">
    <progress max="100" [value]="(uploadPercent | async)"></progress> -->
<!-- </form> -->

<p>Please Work</p>
