.form{
    display: block;
    margin: 180px auto;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.example-form-field{
    text-align: center;
    display: block;
}
.link {
    text-decoration: none;
    color: white;
}
