
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    
  </mat-card-header>
  
  <mat-card-content>
    <div  class="commentBox" >
      <img src="../../../assets/images/male.jpg">
    
      <div class="commentStf">
    
        <div class="commentText">
          <b>Cedar Daniel</b>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ex a ad nemo, cupiditate fugiat, voluptas, hic culpa aut quae quos.
             Consectetur molestias excepturi nihil. Id labore consequuntur molestias dignissimos!</p>
          
        </div>
        <span  class="time-stamp">1 day ago</span>
       
      </div>
      
    </div>

    <div  class="commentBox" >
      <img src="../../../assets/images/male.jpg">
    
      <div class="commentStf">
    
        <div class="commentText">
          <b>Cedar Daniel</b>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ex a ad nemo, cupiditate fugiat, voluptas, hic culpa aut quae quos.
             Consectetur molestias excepturi nihil.</p>
          
        </div>
        <span  class="time-stamp">1 day ago</span>
      </div>
      
     
    </div>
    
    <div  class="commentBox self">
      <img src="../../../assets/images/male.jpg">
    
      <div class="commentStf">
    
        <div class="commentText">
          <b>Cedar Daniel</b>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ex a ad nemo, cupiditate fugiat, voluptas, hic culpa aut quae quos.
             Consectetur molestias excepturi nihil. Id labore consequuntur molestias dignissimos!</p>
          
        </div>
        <span  class="time-stamp">1 day ago</span>
       
      </div>
      
    </div>

    <div  class="commentBox self">
      <img src="../../../assets/images/male.jpg">
    
      <div class="commentStf">
    
        <div class="commentText">
          <b>Cedar Daniel</b>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ex a ad nemo, cupiditate fugiat, voluptas, hic culpa aut quae quos.
             Consectetur molestias excepturi nihil. Id labore consequuntur molestias dignissimos!</p>
          
        </div>
        <span  class="time-stamp">1 day ago</span>
       
      </div>
      
    </div>

    <div  class="commentBox">
      <img src="../../../assets/images/male.jpg">
    
      <div class="commentStf">
    
        <div class="commentText">
          <b>Cedar Daniel</b>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ex a ad nemo, cupiditate fugiat, voluptas, hic culpa aut quae quos.
             Consectetur molestias excepturi nihil. Id labore consequuntur molestias dignissimos!</p>
          
        </div>
        <span  class="time-stamp">1 day ago</span>
       
      </div>
      
    </div>

  </mat-card-content>


  <div class="message">
    <img class="auth-user" src="../../../assets/images/customer1.png" alt="">
    <form class="message-form">
      
      <mat-form-field class="form-field">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput
        cdkAutosizeMinRows="1"
        placeholder="Leave a Comment"></textarea>
        <button mat-icon-button matSuffix>
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
</mat-card>