
<mat-card class="example-card" *ngIf="forumMessages">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    
  </mat-card-header>
  
  <mat-card-content>
    <div  class="commentBox" >
      <img src="../../../assets/images/male.jpg">
    
      <div class="commentStf">
    
        <div class="commentText">
          <b>Cedar Daniel</b>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ex a ad nemo, cupiditate fugiat, voluptas, hic culpa aut quae quos.
             Consectetur molestias excepturi nihil. Id labore consequuntur molestias dignissimos!</p>
          
        </div>
        <span  class="time-stamp">1 day ago</span>
       
      </div>
      
    </div>

    
    <div  class="commentBox self">
      <img src="../../../assets/images/male.jpg">
    
      <div class="commentStf">
    
        <div class="commentText">
          <b>Cedar Daniel</b>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ex a ad nemo, cupiditate fugiat, voluptas, hic culpa aut quae quos.
             Consectetur molestias excepturi nihil. Id labore consequuntur molestias dignissimos!</p>
          
        </div>
        <span  class="time-stamp">1 day ago</span>
       
      </div>
      
    </div>


  </mat-card-content>


  <div class="message">
    <form [formGroup]="forumForm" class="message-form" *ngIf="currentUser; else pleaseLogin">
      <div *ngIf="userValue" class="message-div">
        <img class="auth-user" [src]="userValue.photoURL" alt="Logged In User Image">
        
        <mat-form-field class="form-field">
          <mat-label class="mat-label">Leave a comment</mat-label>
          <textarea 
          formControlName="message"
          matInput
          cdkAutosizeMinRows="1"
          placeholder="Leave a Messsage"></textarea>
          <button (click)="addMessage()" mat-icon-button matSuffix>
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
    <ng-template #pleaseLogin>
      <h3>Login To Send Message</h3><br>
      <button mat-flat-button color="primary" (click)="login()">Click Here To Login</button>
    </ng-template>
  </div>
</mat-card>