
<mat-card class="example-card" *ngIf="forumMessages && currentUser">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    
  </mat-card-header>
  
  <mat-card-content>
    <div *ngFor="let message of forumMessages">
      <div  class="commentBox" [ngClass]="{'self': (message.authorUID === currentUser.uid)}">
        <img [src]="message.authorImageUrl">
      
        <div class="commentStf">
      
          <div class="commentText">
            <b>{{message.authorName}}</b>
            
            <p>{{message.message}}</p>
            
          </div>
          <span  class="time-stamp">{{message.timestamp | date:'medium'}}</span>
          <a *ngIf="isAdmin" (click)="deleteMessage(message.id)">Delete</a>
         
        </div>
        
      </div>
    </div>

  </mat-card-content>


  <div class="message">
    <form [formGroup]="forumForm" class="message-form" *ngIf="currentUser; else pleaseLogin">
      <div *ngIf="userValue" class="message-div">
        <img class="auth-user" [src]="userValue.photoURL" alt="Logged In User Image">
        
        <mat-form-field class="form-field">
          <mat-label class="mat-label">Leave a message</mat-label>
          <textarea 
          formControlName="message"
          matInput
          cdkAutosizeMinRows="1"
          placeholder="Leave a Messsage"></textarea>
          
          <button (click)="addMessage()" mat-flat-button mat-icon-button matSuffix color="primary">
            <mat-icon class="send-icon">send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
    <ng-template #pleaseLogin>
      <h3>Login To Send Message</h3><br>
      <button mat-flat-button color="primary" (click)="login()">Click Here To Login</button>
    </ng-template>
  </div>
</mat-card>