.example-card{
  width: 100%;
  margin: 45px auto;
  border: none;
  box-shadow: none;
  padding: 0;
  
}

.commentBox,
.replyBox {
  display: flex;
  /* justify-content: space-around; */
  margin: 10px;
  padding: 0px;
  text-align: left;
}

.replyBox {
  margin-left: 28px;
}

.commentBox img,
.replyBox img,
.auth-user {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.commentText,
.replyText {
  background: #7979791f;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  margin-bottom: 5px;
}

.commentText p,
.replyText p {
  margin-bottom: 0px;
  width: auto;
  max-width: 500px;
}

.time-stamp{
  display: block;
  text-align: right;
}

.self{
  text-align: right;
  justify-content: flex-end;
}

.message-form{
  text-align: center;
  justify-content: center;
}

.auth-user{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
}

.message .message-form{
  width: 70%;
}

.message .message-form .form-field{
  width: 100%;
}

.message .message-form textarea{
  border: none;
}

@media(max-width: 420px){
  .commentText p, .replyText p {
    max-width: 200px;
  }
  
}

.message-div{
  display: flex;
  align-items: center;
}

.mat-label{
  align-items: center;
  padding: 5px;
}