<form [formGroup]="EventForm">

    <h2><b>Create New Event</b></h2>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Enter Event Title</mat-label>
        <input matInput formControlName="name" placeholder="Event Title" required>
        <mat-icon matPrefix>create</mat-icon>

    </mat-form-field>

    <mat-form-field>
        <mat-label>Event Date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="dp3" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Event Details</mat-label>
        <textarea matInput formControlName="details" cdkTextareaAutosize #autosize placeholder="Event Details"
            required></textarea>
        <mat-icon matPrefix>insert_invitation</mat-icon>

    </mat-form-field>

    <input type="file" formControlName="file" (change)="fileUpload($event)" id="file" required>
    <mat-progress-bar mode="determinate" [value]="(uploadPercent | async)" class="progress-bar"></mat-progress-bar>

    <!-- <button mat-raised-button (click)="addEvent()">
        <mat-icon>create</mat-icon>Post
    </button> -->
</form>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="closeDialog" cdkFocusInitial (click)="addEvent()">
        <mat-icon>create</mat-icon>Update
    </button>
</mat-dialog-actions>