<div class="content">
    <mat-card class="example-card">
        <mat-card-header class="header">
            <img class="profile-img" src="https://image.flaticon.com/icons/svg/21/21104.svg" alt="" srcset="">
        </mat-card-header>
        
        <mat-card-content>
          
           <h2><b>Cedar Daniel</b></h2>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
