.form{
    display: block;
    margin: 180px auto;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.example-form-field{
    text-align: center;
    display: block;
}

.submit-btn{
    background: var(--brandcolor);
    color: #fff;
}