  .example-card {
    max-width: 95%;
    margin: 15px auto;
    padding: 35px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/images/profile.jpg');
    background-size: cover;
  }
  .wrapper{
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .subtitle, p{
    text-align: left;
  }
  
  p{
    margin-left: 57px;
  }

  .postImg{
    width: calc(90% + 32px);
  }

  .details-button{
    background: var(--brandcolor);
    color: #fff;
  }

  .search{
    margin-top: 75px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .search form{
    display: flex;
    margin: 0 auto;
    width: 45%;
    align-items: center;
  }

  .search form button{
    padding: 0;
    background: transparent;
  }

  .search form .search-form-field{
    width: 100%;
    margin-right: 5px;
  }

.search-icon{
  color: var(--brandcolor);
  margin: 0;
}

.search-icon:hover{
  cursor: pointer;
}