<div class="wrapper">

  <nav id="desktopNav">
      <fa-icon class="fa fa-bars" [icon]="faBars"></fa-icon>
      <!-- <i class="fa fa-bars"></i> -->
        <ul>

          <li><a href=""><img src="../../../assets/images/logo.jpg" class="logo" alt=""></a></li>
        </ul>

        <form [formGroup]="search">
          <input type="text" formControlName="searchInput" name="" placeholder="Search post here....">
          <button type="button" name="button">
            <fa-icon class="fa fa-search" [icon]="faSearch"></fa-icon>
            <!-- <i class="fa fa-search"></i> -->
          </button>
        </form>

      <ul class="menu">
        <li><a routerLink="/home" routerLinkActive="forum" class="nav-item">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="forum" class="nav-item">About Us</a></li>
        <li><a routerLink="/newsfeed" routerLinkActive="forum" class="nav-item">New Feed</a></li>
        <li><a routerLink="/events" routerLinkActive="forum" class="nav-item">Events</a></li>
        <li><a routerLink="/forum" routerLinkActive="forum">Forum</a></li>
        <li *ngIf="logoutButton"><button (click)="logout()">Logout</button></li>

      </ul>
    </nav>

    <nav id="phoneNav">

      <ul>
        <li><img src="../../../assets/images/customer3.png" alt=""></li>
        <span><b>Home</b></span>
      </ul>

      <ul class="icons">
        <li>
          <fa-icon class="fa fa-search" [icon]="faSearch"></fa-icon>
          <!-- <i class="fa fa-search"></i> -->
        </li>
        <li>
          <fa-icon class="fa fa-plus" [icon]="faPlus"></fa-icon>
          <!-- <i class="fa fa-plus"></i> -->
        </li>
      </ul>
    </nav>

    <nav id="bottomNav">
      <ul>
        <li>
          <a routerLink="/home" class="active">
            <fa-icon class="fa fa-home" [icon]="faHome"></fa-icon>
            <!-- <i class="fa fa-home"></i> -->
            <p>Home</p>
        </a>
        </li>

        <li>
          <fa-icon class="fa fa-newspaper" [icon]="faNewspaper"></fa-icon>
          <!-- <i class="fa fa-newspaper"></i> -->
          <p>New feed</p>
        </li>

        <li>
          <a routerLink="/forum">
            <fa-icon class="fa fa-comment" [icon]="faComment"></fa-icon>
            <!-- <i class="fa fa-comment"></i> -->
            <p>Forum</p>
          </a>
        </li>

        <li>
          <fa-icon class="fa fa-calendar" [icon]="faCalendar"></fa-icon>
          <!-- <i class="fa fa-calendar"></i> -->
          <p>Events</p>
        </li>
      </ul>
    </nav>

    <div class="content-div">

      <div class="ind-content" *ngFor="let blog of blogs">

          <img src="../../../assets/images/profile.jpg" class="user-avatar" alt="">
          <b>Ingowari Daniel</b>
          <span class="timespan">{{blog.createdAt | date: 'medium'}}</span>
        <h3>{{blog.title}}</h3>
        <div class="seperator"></div>
        <p>{{blog.body}}</p>
          <img [src]="blog.imageUrl" class="postImg" alt="">
          <div class="post-details">
            <span> 0 likes</span>
            <span>{{ blog.comments.length }} Comments</span>
            <div *ngFor="let comment of blog.comments">
             <div class="comment-user-details">
              <img [src]="comment.authorImageUrl" class="comment-user" alt="">
              <div class="comment">
              <div class="comment-body">
                <p><b>{{comment.authorName}}</b></p>
                <p>{{comment.message}}</p>
                </div>
                <a (click)="displayReply()" class="reply">Reply</a>
                <div *ngIf="replyDisplay">
                  <img [src]="comment.authorImageUrl" class="comment-user" alt="">
                  <input type="text" class="reply-input" placeholder="Write a Reply...">
              </div>
            </div>

             </div>

            <div class="reply-user-details">
              <img [src]="comment.authorImageUrl" class="comment-user" alt="">
              <div class="reply">
                <div class="reply-body">
                  <p><b>{{comment.authorName}}</b></p>
                  <p>This is a reply</p>
                </div>
              </div>
            </div>

            </div>
          </div>
          <hr>
          <div class="post-actions">
            <!-- <i class="fa fa-thumbs-up"></i>--> 
            <fa-icon class="fa fa-thumbs-up" [icon]="faThumbsUp"></fa-icon><span class="action">Like</span> 
            <!-- <i class="fa fa-comment"></i> -->
            <fa-icon class="fa fa-comment" [icon]="faComment"></fa-icon><span class="action">Comment</span>

          </div>

          <div *ngIf="logoutButton; else pleaseLogin" class="comment-section">
            <img *ngIf="currentUser.photoURL; else anonymousUser" [src]="currentUser.photoURL"  alt="">
              <ng-template #anonymousUser>
              <img  [src]="defaultImage" alt="">
              </ng-template>
            
            <form [formGroup]="comment">
                <input type="text" formControlName="message" placeholder="Write a comment">
                <button (click)="commentFunction(blog.id)"> Comment </button>
            </form>  
          </div>

          <ng-template #pleaseLogin>
            <div class="comment-section">
              <p>Login to comment</p>
            </div>
          </ng-template>

      </div>

    
    </div>

</div>