<form class="move-down">
    <h2>Sign Up</h2>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" required>
        <mat-icon matPrefix>mail</mat-icon>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" required>
        <button mat-icon-button matSuffix [attr.arial-label]="'Hide Password'"
            >
            <mat-icon>visibility_off</mat-icon>
        </button>
        <mat-icon matPrefix>enhanced_encryption</mat-icon>
       
    </mat-form-field>

    <a href="#" class="password-link">Forgot Password</a>

    <button mat-raised-button class="submit-button">Login</button>
</form>