<form [formGroup]="loginForm" class="move-down">
    <h2>Login</h2>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email" placeholder="pat@example.com" required>
        <mat-icon matPrefix>mail</mat-icon>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <button mat-icon-button matSuffix [attr.arial-label]="'Hide Password'"
            >
            <mat-icon>visibility_off</mat-icon>
        </button>
        <mat-icon matPrefix>enhanced_encryption</mat-icon>
       
    </mat-form-field>

    <section>
        
        <div class="example-button-row">
            <div *ngIf="router.url.includes('/forum') || router.url.includes('newsfeed'); else socialLogin">
                <button mat-raised-button (click)="loginWithFacebook()" [mat-dialog-close]="true" color="primary"><fa-icon class="fa-icon" [icon]="faFacebook"></fa-icon>CONTINUE WITH FACEBOOK</button>
                <button mat-raised-button (click)="loginWithGoogle()" [mat-dialog-close]="true" color="warn"><fa-icon class="fa-icon" [icon]="faGoogle"></fa-icon>CONTINUE WITH GOOGLE</button>
            </div>
            <ng-template #socialLogin>
                <button mat-raised-button (click)="loginWithFacebookDialog()" color="primary"><fa-icon class="fa-icon" [icon]="faFacebook"></fa-icon>CONTINUE WITH FACEBOOK</button>
                <button mat-raised-button (click)="loginWithGoogleDialog()" color="warn"><fa-icon class="fa-icon" [icon]="faGoogle"></fa-icon>CONTINUE WITH GOOGLE</button>
            </ng-template>
        </div>
      </section>
    
    <a href="#" class="password-link">Forgot Password</a>
      
    <button *ngIf="router.url.includes('/forum') || router.url.includes('newsfeed'); else justLogin" mat-raised-button [mat-dialog-close]="true" (click)="loginDialog()" class="submit-button">Login</button>
    <ng-template #justLogin>
        <button mat-raised-button (click)="login()" class="submit-button">Login</button>
    </ng-template>
</form>