
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../../../../../assets/images/1.jpg);">
                <span class="login100-form-title-1">
                    Login
                </span>
            </div>

            <form [formGroup]="loginForm" class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26">
                    <span class="label-input100">Email</span>
                    <input class="input100" formControlName="email" type="text" name="email" placeholder="Enter email"
                    [class.invalid]="loginForm.controls.email.invalid && (submitAttempt || loginForm.controls.email.touched || loginForm.controls.email.dirty)">
                    <span class="focus-input100"></span>
                </div>

                <div class="error-message">
                    <p *ngIf="loginForm.controls.email.invalid && (submitAttempt || loginForm.controls.email.touched || loginForm.controls.email.dirty)">
                        Email is required or invalid
                    </p>
                </div>

                <div class="wrap-input100 validate-input m-b-18">
                    <span class="label-input100">Password</span>
                    <input class="input100" formControlName="password" type="password" name="pass" placeholder="Enter password"
                    [class.invalid]="loginForm.controls.password.invalid && (submitAttempt || loginForm.controls.password.touched || loginForm.controls.password.dirty)">
                    <span class="focus-input100"></span>
                </div>

                <div class="error-message">
                    <p *ngIf="loginForm.controls.password.invalid && (submitAttempt || loginForm.controls.password.touched || loginForm.controls.password.dirty)">
                        Password is invalid or required
                    </p>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div>
                        <a href="#" class="txt1">
                            Forgot Password?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button (click)="login()" class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="icons">
                    <fa-icon class="icons--facebook" (click)="loginWithFacebook()" [icon]="faFacebook"></fa-icon>
                    <fa-icon class="icons--google" (click)="loginWithGoogle()" [icon]="faGoogle"></fa-icon>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- <div>
    <button type="button" (click)="loginWithFacebook()"> Login With Facebook</button>
    <button type="button" (click)="loginWithGoogle()"> Login With Google</button>
</div> -->
