ul {
    list-style: none;
}


.navigation-items {
    text-decoration: none;
    color: white;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation-items a {
    color: rgba(0,0,0,.87);
    z-index: 11;
}

a:hover{
    text-decoration: underline;
    color: #0000;
}

.toolBar{
     background: #fff;
     position: fixed;
     height: 45px;
     color: #0000;
     z-index: 10;
     box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.navigation-items a{
    font-size: 16px;
    font-family: 'Palanquin', sans-serif;  
    padding: 3px 10px;
    transition: .1s ease-in;
    border-radius: 5px;
}
.active {
    text-decoration: none;
    color: #fff;
    background: var(--brandcolor); 
}

.navigation-items a:hover{
    text-decoration: none;
    color: #fff;
    background: var(--brandcolor);
}

.sidebar-content{
    background-color: #fff;
    color: rgba(0,0,0,.87);  
}

.menu-icon{
    color: var(--brandcolor);
}

.menu-icon:hover{
    cursor: pointer
}

.side-icon{
  color: var(--brandcolor);  
}

.sidebar{
    position: fixed;
}

.logo{
    height: 35px;
    width: 35px;
}