<!-- <app-navbar></app-navbar> -->
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" class="sidebar">
        <mat-nav-list>
            <mat-list-item>
                <a (click)="sidenav.close()" matLine routerLink="/home" routerLinkActive="active">
                    <button mat-icon-button>
                        <mat-icon class="side-icon">home</mat-icon>
                    </button>
                    Home
                </a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="sidenav.close()" matLine routerLink="/newsfeed" routerLinkActive="active">
                    <button mat-icon-button>
                        <mat-icon class="side-icon">dynamic_feed</mat-icon>
                    </button>
                    Newsfeed
                </a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="sidenav.close()" matLine routerLink="/events" routerLinkActive="active">
                    <button mat-icon-button>
                        <mat-icon class="side-icon">calendar_today</mat-icon>
                    </button>
                    Events
                </a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="sidenav.close()" matLine routerLink="/forum" routerLinkActive="active">
                    <button mat-icon-button>
                        <mat-icon class="side-icon">forum</mat-icon>
                    </button>
                    Forum
                </a>
            </mat-list-item>
            <mat-list-item>
                <a (click)="sidenav.close() && logout()" matLine>
                    <button mat-icon-button>
                        <mat-icon class="side-icon">close</mat-icon>
                    </button>
                    Logout
                </a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidebar-content">
        <mat-toolbar class="toolBar">
            <mat-icon (click)="sidenav.toggle()" *ngIf="showSideMenu" class="menu-icon">menu</mat-icon>
            
            <div fxFlex fxLayout fxLayoutAlign="flex-start">
                <a routerLink="/home">
                    <img src="../assets/images/logo2.png" class="logo" alt="Logo">
                </a>
            </div>

            <div *ngIf="!showSideMenu" fxFlex fxLayout fxLayoutAlign="flex-end">
                <ul fxLayout fxLayoutGap="35px" class="navigation-items">
                    <li><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
                    <li><a routerLink="/newsfeed" routerLinkActive="active" class="nav-link">Newfeed</a></li>
                    <li><a routerLink="/events" routerLinkActive="active" class="nav-link">Event</a></li>
                    <li><a routerLink="/forum" routerLinkActive="active" class="nav-link">Forum</a></li>
                    <li></li>
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>