  
  header{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),url('../../../assets/images/1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  
  }
  
  .fa-bars{
      position: relative;
      top: 22px;
      left: 10px;
  }
  
  .fa-bars:hover{
    cursor: pointer;
  }
  nav{
    background: transparent;
    width: 100%;
    color: #fff;
  }
  
  nav ul{
    list-style: none;
    padding: 0;
    display: none;
  }
  
  
  nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    padding: 5px;
  }
  
  nav .nav-item:hover{
    border-bottom: 3px solid var(--brandcolor);
  }
  
  .forum{
    background: var(--brandcolor);
    color: #fff;
    border-radius: .3rem;
  }
  
  .caption{
    /*border: 1px solid var(--brandcolor);*/
    width: 70%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
  
  }
  
  .caption h1{
    font-size: 3rem;
  }
  
  .caption p{
    font-size: 1.2rem;
  }
  
  .caption a{
    text-decoration: none;
    color: #fff;
    background: var(--brandcolor);
    padding: 15px;
    display: block;
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
    border-radius: .3rem;
    margin: 0 auto;
    margin-bottom: 15px;
  
  }
  
  #about{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  #about .about-text{
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  
  #about .seperator{
    width: 85px;
    height: 2px;
    margin: 20px auto;
    background: var(--brandcolor);
  }
  
  #about .heading{
    text-align: center;
  }
  
  #about p{
    color: #797979;
  }
  
  #about a{
    text-decoration: none;
    color: #fff;
    background: var(--brandcolor);
    padding: 15px;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: .3rem;
    margin: 0 auto;
    margin-bottom: 15px;
    transition: .3s linear;
  }
  
  #about a:hover{
    color: var(--brandcolor);
    background: #fff;
    border: 1px solid var(--brandcolor);
  }
  
  #about img{
    width: 80%;
    height: 380px;
    display: block;
    margin: 20px auto;
  }
  
  #services{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/c.jpg');
    padding: 15px 20px;
    background-attachment: fixed;
    text-align: center;
    margin-bottom: 0;
  }
  
  #services .servicesDiv{
    margin: 0 auto;
    text-align: center;
  }
  
  #services .seperator{
    width: 85px;
    height: 2px;
    margin: 20px auto;
    margin-bottom: 40px;
    background: var(--brandcolor);
  }
  
  #services h1{
    color: #fff;
  }
  
  .ind-Service fa-icon{
    color: #fff;
    background: var(--brandcolor);
    padding: 20px;
    border-radius: 50%;
  }
  
  .ind-Service p{
    color: #797979;
  }
  
  #light, #book{
    padding: 20px 30px;
  }
  
  #uni{
    padding: 20px 25px;
  }
  
  #team{
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #7979790a;
    margin-top: 0;
  }
  
  #team .seperator{
    width: 85px;
    height: 2px;
    margin: 20px auto;
    background: var(--brandcolor);
  }
  .team-member img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  
  .team-member h4{
    font-size: 20px;
  }
  
  .team-member p{
    color: var(--brandcolor);
    font-size: 20px;
  }
  
  @media screen and (min-width: 768px){
    header{
      box-sizing: border-box;
    }
  
    html, body{
      overflow-x: hidden;
    }
    nav{
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
    }
  
    nav .fa-bars{
      display: none;
    }
  
  
    nav ul{
      display: flex;
    }
  
    nav a{
      padding: 10px 15px;
      margin-right: 10px;
    }
  
  .caption{
    /*border: 1px solid var(--brandcolor);*/
    width: 50%;
    position: relative;
    top: 30%;
    left: 3%;
    transform: translate(0);
    padding: 20px;
    text-align: left;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    background-attachment: scroll;
    box-sizing: border-box;
  }
  
  .caption h1{
    font-size: 3rem;
  }
  
  .caption p{
    font-size: 1.2rem;
  }
  
  .caption a{
    text-decoration: none;
    color: #fff;
    background: var(--brandcolor);
    padding: 15px;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: .3rem;
    margin: 0;
    margin-bottom: 15px;
  }
  
  #about{
    width: 100%;
    display: flex;
    margin-top: 5.9rem;
    justify-content: space-around;
    height: 60%;
  }
  
  #about .about-text{
    width: 48%;
    text-align: left;
  }
  
  #about img{
    width: 43%;
    height: 380px;
  
  }
  
  #about .heading{
    font-size: 2.5rem;
    text-align: left;
  }
  
  #about .seperator{
    width: 85px;
    height: 2px;
    margin: 20px 0px;
    background: var(--brandcolor);
  }
  
  #about p{
    color: #797979;
  }
  
  #about a{
    text-decoration: none;
    color: #fff;
    background: var(--brandcolor);
    padding: 15px;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: .3rem;
    margin: 0;
    margin-bottom: 15px;
    transition: .3s linear;
  }
  
  #about a:hover{
    color: var(--brandcolor);
    background: #fff;
    border: 1px solid var(--brandcolor);
  }
  
  #services{
      width: 100%;
      text-align: center;
      padding: 18px;
      margin: 0;
  }
  
  
  #services .seperator{
    width: 85px;
    height: 2px;
    margin: 20px auto;
    background: var(--brandcolor);
  }
  
  .servicesDiv{
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
  
    justify-content: space-around;
    padding: 10px;
  }
  
  .ind-Service{
    height: minmax(100px, auto);
    margin: 0 0px;
    flex-basis: 350px;
    margin-bottom: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .ind-Service p{
    color: #797979;
  }
  
  #services .heading{
    font-size: 2.5rem;
  }
  
  #team{
    text-align: center;
    margin-top: -10px;
    padding: 20px;
  }
  
  #team .heading{
      font-size: 2.5rem;
  }
  
  #team .seperator{
    width: 85px;
    height: 2px;
    margin: 20px auto;
    background: var(--brandcolor);
  }
  
  .team-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
  }
  
  
    .team-member img{
      height: 200px;
      width: 200px;
      border-radius: 50%;
    }
  
    .team-member h4{
      font-size: 20px;
    }
  
    .team-member p{
      color: var(--brandcolor);
      font-size: 20px;
    }
  
    #gallery{
        text-align: center;
    }
  
    #gallery .heading{
        font-size: 2.5rem;
    }
  
    #gallery .seperator{
      width: 85px;
      height: 2px;
      margin: 20px auto;
      background: var(--brandcolor);
    }
  
    .gallery-container{
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-auto-rows: minmax(250px, auto);
      grid-gap: 10px;
      width: 95%;
      margin: 0 auto;
    }
  
    .pic{
      background: #ddd;
      position: relative;
    }
  
    .pic img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    .one{
      grid-column: 1/3;
    }
  
    .two{
      grid-column: 3/5;
    }
  
    .three{
      grid-column: 5/9;
      grid-row: 1/3;
    }
  
    .four{
      grid-column: 1/5;
      grid-row: 2/4;
    }
  
    .five{
      grid-column: 5/7;
    }
  
    .six{
      grid-column: 7/9;
    }
  
  }
  