<header>
  <div class="caption">
    <h1>Godly Seed Parenting</h1>
    <p>Raising Godly Seed...</p>
    <a routerLink="/register">Join Us</a>
  </div>
</header>

<section id="about">
  <div class="about-text">
    <h1 class="heading">ABOUT US</h1>
    <div class="seperator"></div>
    <p>
      Godly Seeed Parenting Outreach is a non-governmmental whoose main aim is
      to create awareness for parents and to-be parents and to equip them with
      resources that will empoweer them to raise Godly Seeds unto the Lord as
      enshrinned in Malachi 2:15b.
    </p>
    <a href="#">Read More</a>
  </div>

  <img src="../../../assets/images/4.jpeg" alt="" />
</section>

<section id="services">
  <h1 class="heading">PROGRAMS & RESOURCES</h1>
  <div class="seperator"></div>

  <div class="servicesDiv">
    <div class="ind-Service">
      <fa-icon
        class="fa fa-lightbulb fa-3x spec"
        [icon]="faLightbulb"
        id="light"
      ></fa-icon>
      <!-- <i class="fa fa-lightbulb fa-3x spec" id="light"></i> -->

      <h1>Enlightenment</h1>
      <p>
        This is our way of educating parents and parents to-be on the need to
        raise Godly children unto God.
      </p>
    </div>

    <div class="ind-Service">
      <fa-icon
        class="fa fa-graduation-cap fa-3x"
        [icon]="faGraduationCap"
      ></fa-icon>
      <!-- <i class="fa fa-graduation-cap fa-3x"></i> -->

      <h1>Tetiary Institution Outreachs</h1>
      <p>
        This is our way of reaching out to students in college/university with
        the need to prepare for Godly parenting.
      </p>
    </div>

    <div class="ind-Service">
      <fa-icon
        class="fa fa-university fa-3x"
        [icon]="faUniversity"
        id="uni"
      ></fa-icon>
      <!-- <i class="fa fa-university fa-3x" id="uni"></i> -->

      <h1>Community Outreach</h1>
      <p>
        We reach communites with thr message of Godly parenting. We reach out to
        them with whatever we can to elevate the suffering of parents and
        children alike.
      </p>
    </div>

    <div class="ind-Service">
      <fa-icon class="fa fa-book fa-3x" [icon]="faBook" id="book"></fa-icon>
      <!-- <i class="fa fa-book fa-3x" id="book"></i> -->

      <h1>Parenting Education</h1>
      <p>
        We run a parenting school and fellowship to equip parents with relevant
        information that will make their parennting assignment easier and more
        effective.
      </p>
    </div>

    <div class="ind-Service">
      <fa-icon
        class="fa fa-users fa-3x"
        [icon]="faUsers"
        arial-hidden="true"
      ></fa-icon>
      <!-- <i class="fa fa-users fa-3x" arial-hidden="true"></i> -->

      <h1>Volunteer Training</h1>
      <p>
        This is a training program to equip volunnteers with the required
        knowledge needed to reach out to parents.
      </p>
    </div>

    <div class="ind-Service">
      <div class="icon">
        <fa-icon class="fa fa-bullhorn fa-3x" [icon]="faBullhorn"></fa-icon>
        <!-- <i class="fa fa-bullhorn fa-3x"></i> -->
      </div>

      <h1>Conference Speaking</h1>
      <p>We are into conference speaking, school enlightenment etc.</p>
    </div>
  </div>
</section>

<section id="visioneer">
  <h1 class="heading">OUR VISIONEER</h1>
  <div class="seperator"></div>

  <div class="visioneer-container">
    <img src="../../../assets/images/visioneer.png" alt="visioneer" srcset="" />
    <div class="visioneer-content">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio a,
        perspiciatis aliquid dolorum quos animi nemo quibusdam. Rem natus facere
        sit? Obcaecati nesciunt maxime nemo temporibus ut itaque officiis
        eligendi! Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Repudiandae voluptate provident a incidunt recusandae error dicta
        architecto impedit earum harum? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Porro, explicabo! Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Distinctio a, perspiciatis aliquid dolorum
        quos animi nemo quibusdam. Rem natus facere sit? Obcaecati nesciunt
        maxime nemo temporibus ut itaque officiis eligendi! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Repudiandae voluptate provident a
        incidunt recusandae error dicta architecto impedit earum harum? Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Porro, explicabo!
      </p>
    </div>
  </div>
</section>
