<div class="wrapper">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{blogPost.title}}</mat-card-title>
      <mat-card-subtitle>INGOWARI DANIEL</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="post-paragraph">
        {{blogPost.body}}
      </p>
    </mat-card-content>
    <img mat-card-image [src]="blogPost.imageUrl" class="blogPost" alt="Photo of Post">
   
    <div class="details">
      <span id="likes">123 likes</span>
    <span id="comments">{{displayLength ? displayLength : 0}} comments</span>
    </div>
    <mat-divider></mat-divider>
  
    <mat-card-actions class="post-action">
      <button mat-button (click)="like()">
        <mat-icon class="mat-icon">thumb_up</mat-icon>
        Like
      </button>
      <button mat-button>
        <mat-icon class="mat-icon">comment</mat-icon>
        Comment
      </button>
    </mat-card-actions>
      
    
    <div class="commentBox" *ngIf="firstComment[0]">
      <img *ngIf="firstComment[0].authorImageUrl" [src]="firstComment[0].authorImageUrl">
  
      <div class="commentStf">
        <div class="commentText">
  
          <b>{{firstComment[0].authorName}}</b>
          
          <p>{{firstComment[0].message}}</p>
          
        </div> 
        <a (click)="hideMe[0] = !hideMe[0]" class="reply-link">Reply</a>
      </div>
    </div>
  
    <form [hidden]="!hideMe[0]" class="example-form">
      <img [src]="currentUser.photoURL" class="auth-user">
      <mat-form-field class="example-full-width">
        <mat-label>Leave a reply</mat-label>
        <textarea matInput 
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        placeholder="Leave a reply"></textarea>
        <button (click)="replyComment(firstComment[0].id)" mat-icon-button matSuffix>
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <div *ngIf="firstComment[0]"> 
      <div class="replyBox" *ngFor="let one of firstComment[0].replies">
        <img [src]="one.authorImageUrl">
        <div *ngIf="firstComment[0].replies">
         
          <div class="replyText">
            <b>{{one.authorName}}</b>
            
            <p>{{one.message}}</p>
            
          </div>
        </div>
      
      </div>
    </div>
  
    
  
      <div *ngIf="firstComment.length >= 1 && allComments">
        <div *ngFor="let rem of firstComment.slice(1); let i = index;">
  
          <div  class="commentBox" >
            <img [src]="rem.authorImageUrl">
      
            <div class="commentStf">
    
              <div class="commentText">
                <b>{{rem.authorName}}</b>
                
                <p>{{rem.message}}</p>
                
              </div>
              <a (click)="hideMe[i+1] = !hideMe[i+1]" class="reply-link">Reply</a>
            </div>
            
          </div>
  
          
          <form [hidden]="!hideMe[i+1]" class="example-form">
            <img [src]="currentUser.photoURL" class="auth-user">
            <mat-form-field class="example-full-width">
              <mat-label>Leave a reply</mat-label>
              <textarea matInput placeholder="Leave a reply"></textarea>
              <button (click)="replyComment(rem.id)" mat-icon-button matSuffix>
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
          </form>
          <div *ngIf="rem.replies && rem.replies.length >= 1"> 
            <div *ngFor="let rep of rem.replies" class="replyBox">
    
              <img [src]="rep.authorImageUrl">
            
              <div  class="replyText">
               
                <b>{{rep.authorName}}</b>
                
                <p>{{rep.message}}</p>
                
              </div>
             
            </div>
          </div>
  
        </div>
      </div>
  
  
    
    <b><a *ngIf="firstComment.length >= 2" (click)="loadComments()" class="more-comments">{{allComments ? 'Show Less Comments' : 'Show More Comment'}}</a></b>
  
    <form [formGroup]="commentForm" class="example-form cummentForm">
      <img [src]="currentUser.photoURL" class="auth-user">
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput
        formControlName="message"
        cdkAutosizeMinRows="1"
        placeholder="Leave a Comment"></textarea>
        <button (click)="submitComment()" mat-icon-button matSuffix>
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
    
  </mat-card>
  
  

</div>