.example-header-image {
  background-image: url("../../../assets/images/profile.jpg");
  background-size: cover;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  display: block;
  margin-bottom: 0px;
}

.commentBox,
.replyBox {
  display: flex;
  /* justify-content: space-around; */
  margin-bottom: 10px;
  margin-top: 10px;
}

.replyBox {
  margin-left: 28px;
}

.commentBox img,
.replyBox img,
.auth-user {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

.commentText,
.replyText {
  background: #7979791f;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
}

.commentText p,
.replyText p {
  margin-bottom: 0;
}

.reply-link {
  font-size: 13px;
  color: cornflowerblue;
  display: block;
  text-align: left;
}

.reply-link:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.mat-form-field-infinix {
  width: 60%;
}
.example-full-width {
  width: 80%;
}

.example-card {
  max-width: 95%;
  margin: 15px auto;
  padding: 35px;
}

.example-header-image {
  background-image: url("../../../assets/images/profile.jpg");
  background-size: cover;
}

.wrapper {
  margin-top: 65px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.subtitle,
.post-paragraph {
  text-align: left;
}

.post-paragraph {
  margin-left: 57px;
}

.postImg {
  width: calc(90% + 32px);
 
}

.blogPost{
  border-radius: 20px;
}


.more-comments {
  color: #171515de;
}

.more-comments:hover {
  color: #171515de;
}

.cummentForm{
  align-items: center;
}
.like {
  color: rgb(165, 0, 0);
}
.unlike {
  color: rgb(9, 138, 9);
}