/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root{
    --brandcolor: #53e849;
  }

html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Palanquin', sans-serif;
    overflow-x: hidden;
    background: #10101003;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
